<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total Products</th>
      <th>Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <td><%=@prodcount%></td>
    <td><%=@catcount%></td>
  </tbody>